# Python
__pycache__/
*.py[cod]
*.pyo

# Environnements virtuels
.venv/
venv/

# Tests et qualité
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

# IDE et système
.vscode/
.idea/
.DS_Store
Thumbs.db
